export(tcgR.methylation)
export(tcgR.acgh)
export(tcgR.rnaseq)
export(tcgR.segmented)
export(tcgR.affybatch)
importFrom(reshape2,dcast)
importFrom(reshape2,melt)
importFrom(affy,ReadAffy) 
importFrom(affy,list.celfiles) 
